@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,600;1,600&display=swap');

body {
  width: 90%; /* Set a specific width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Shorthand: margin: 0 auto; */
}

h1, table, td, tr {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 600;
}

table, td, tr {
    font-size: larger;
    color: #ffffff;
}

table {
    empty-cells: show;
    border-spacing: 10px;
}

td {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}

tr {
    height: 100px;
}

.correct {
    background-color: #6ca965;
}

.included {
    background-color: #c8b653;
}

.incorrect {
    background-color: #787c7f;
}


