body {
  width: 90%; /* Set a specific width */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* Shorthand: margin: 0 auto; */
}

table {
    empty-cells: show;
    border-spacing: 10px;
}

td {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
}

tr {
    height: 100px;
}



